body{
    margin: 0;
    padding: 0;
    background: #ffe521;

}
header{
    padding: 5px;
    background-color: #000000;
}
#select{
    font-family: "Bitter";
    color : black;
}
img{
    width: 200px;
    height: 50px;
    margin: 5px 20px;
}
hr{
    margin: 0;
    padding: 0;
}
/* cntenido */
#general{
    font-family: "Bitter";
    padding: 0%;
    margin: 0%;
}
/* menuIzquierdo */
#menuD{
    display: inline-block;
    padding: 30px;
    right: 10px;    
}

#menuD img{
    width: 150px;
    height: 150px;
    margin: 20px;
}
#menuD p{
    text-align: center;
    font-size: 30px;
    color: #000000;
    font-family: "Bitter";
}
#dashB { 
    display: block;
    padding: 10px 35px;
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
    background: #ffffff;
    border-radius: 5%;
    transition: all 500ms ease;
    font-family:"Bitter";

}
#dashB img{
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 15px;
}
#dashB:hover { 
    background:#FF009E;
    color: #ffffff;
    box-shadow: inset 0 0 0 3px #FF009E;
}
#curso{ 
    display: block;
    padding: 10px 39px;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
    background: #ffffff;
    border-radius: 5%;
    transition: all 500ms ease;
    font-family:"Bitter";
    position: center;

}
#curso img{
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 15px;
}
#curso:hover { 
    background:#FF009E;
    color: #ffffff;
    box-shadow: inset 0 0 0 3px #FF009E;
}
/* division */
#vl{
    border-left: 1px solid #000000;
    position: absolute;
    display: inline-block;
    left: 13%;
    height: 450px;
    top : 0;
    margin: 122px 0;
}
/* contenidDerecho */
#contenido{
    left: 16%;
    position: absolute;
    display: inline-block;
    width: 84%;
    top:65px;
}
#contenido p{
    text-align: center;
    font-size: 50px;
    color: #000000;
    font-family: "Bitter";
}
.sectionFilas {
    border-width: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}
.centers{
    border-width: 0;
    width: 40%;
    font-size: 30px;
    padding: 20px 0;
    background:#E64C65;
    font-family:"Bitter";
    border-radius:10px;
    color: white;
}
.centers:hover { 
    background:#FF009E;
    color: #ffffff;
    box-shadow: inset 0 0 0 3px #FF009E;
}
#selectCenters{
    position: absolute;
    top:105px;
    left: 16%;
    width: 83%;
    height: 500px;
    
}
#selectCenters p {
    position: absolute;
    left: 16%;
    width: 83%;
    height: 500px;
    font-family:"Bitter";
    font-size: 30px;
}
#selectCenters select{
    position: absolute;
    top:95px;
    left: 16%;
    font-size: 20px;
    font-family:"Bitter";
}
#contenidoData{
    position: absolute;
    top:65px;
    left: 16%;
    width: 83%;
    height: 500px;
}
#chooseFilter{
    display: block;
    margin:10px 0 5px 0;
    border-width: 0;
    font-family:"Bitter";
    font-size: 15px;
 }
#filtros{
   background-color:  #d9d9d9   ;
   border-width: 0;
   justify-content: space-around;
}
#filtros select{
    border-width: 0;
    width: 30%;
    font-size: 20px;
    padding: 10px 0;
    font-family:"Bitter";
}
#contenidoFiltros{
    position: absolute;
    top:65px;
    left: 16%;
    width: 83%;
    height: 500px;
}
#buscador{
    position: absolute;
    right: 20px;
    border-radius: 5px;
    margin: 5px 0;
}
#buscador p{
    display: inline-block;
    margin: 0 2px 0 0; 
    padding: 8%;
    
}
#buscador input{
    border-radius: 5px;
}
#listStudents{
    margin: 50px 0; 
}
/*Etiqueta ul*/
.listEstudiantes{
    list-style: none;
    padding: 2px 5px;
    margin: 0;
}
/*Etiqueta li*/
.listasEstudiantes{
    list-style: none;
    margin: 0px;
    padding: 10px 5px;
    border: 2px solid #bfbfbf;
    box-sizing: border-box;
    transition: all 500ms ease;
}
.listasEstudiantes:hover{
    background:#d9d9d9;
    color: #ffffff;
    box-shadow: inset 0 0 0 3px #e6e6e6;
}
/*Etiqueta a*/
.rutasNombres{
    text-decoration: none;
    font-size: 20px;
    display: block;
    font-family:"Bitter";
    color: #000000;
}
/* grafico */
/************************
Css orignal https://codepen.io/jlalovi/details/bIyAr
************************/

h2 {
	font-size: 17px;
}
#contenidoEstadistico{
    border: 2px solid #e64c65;
    width: 20%;
}
p {
	font-size: 15px;
}
h2, p{
	color: #fff;
}
.scnd-font-color {
    color: #9099b7;
}
.titular {
display: block;
line-height: 60px;
margin: 0;
text-align: center;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}


.block {
    margin: 25px 25px 0 0;
    background:#ffe521;
    border-radius: 5px;
}
		/******************************************** LEFT CONTAINER *****************************************/


.donut-chart {
    bottom: 500px;
    
 }
    .os-percentages img{
        align-content: center;
        width: 30px;
        height: 30px;
        }
.os-percentages div {

border-left: 1px solid;
text-align: center;					
background:#56f89a;

}
.os {
font-size: 20px;		
}
.os.ios {
    border-top: 10px solid #e64c65;
}
.os.mac {
    border-top: 10px solid #11a8ab;
}
.os.linux {
    border-top: 10px solid #fcb150;
}
.os.win {
    border-top: 10px solid #4fc4f6;
}
.os-percentage {
margin: 0;
padding: 0 0 15px 10px;
font-size: 25px;
border-color: #11A8AB;
}

/******************************************
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
ESTILOS PROPIOS DE LOS GRÄFICOS
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ 

GRAFICO CIRCULAR PIE CHART
******************************************/
.donut-chart {
position: relative;
width: 200px;
height: 200px;
margin: 0 auto 2rem;
border-radius: 100%;
border-color: #11A8AB;
}
p.center-date {
background: #394264;
position: absolute;
text-align: center;
font-size: 28px;
top:0;left:0;bottom:0;right:0;
width: 130px;
height: 130px;
margin: auto;
border-radius: 50%;
line-height: 35px;
padding: 15% 0 0;
}
.center-date span.scnd-font-color {
line-height: 0; 
}
.recorte {
border-radius: 50%;
clip: rect(0px, 200px, 200px, 100px);
height: 100%;
position: absolute;
width: 100%;
}
.quesito {
border-radius: 50%;
clip: rect(0px, 100px, 200px, 0px);
height: 100%;
position: absolute;
width: 100%;
font-family: monospace;
font-size: 1.5rem;
}
#porcion1 {
transform: rotate(0deg);
}

#porcion1 .quesito {
background-color: #E64C65;
transform: rotate(76deg);
}
#porcion2 {
transform: rotate(76deg);
}
#porcion2 .quesito {
background-color: #11A8AB;
transform: rotate(140deg);
}
#porcion3 {
transform: rotate(215deg);
}
#porcion3 .quesito {
background-color: #4FC4F6;
transform: rotate(113deg);
}
#porcionFin {
transform:rotate(-32deg);
}
#porcionFin .quesito {
background-color: #FCB150;
transform: rotate(32deg);
}

#cabecera{
    text-align: center;
    background: #FF009E;
    padding: 15px 0;

}
#cabecera th{
    font-family: "Bitter";
    padding: 8px 0;
    font-size: 20px;
    border: 1px ;
    color:#000000;

   
}
#cuerpoData{
    text-align: center;
    margin: 0;
}
#cuerpoData td{
    padding: 5px 0;
    font-size: 15px;
    border: 1px solid black;
    margin: 0;
}
#usersEstadisticas{
text-decoration: none;
color: black;   
}
